
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container-fluid">

    <div class="container">
        @await Html.PartialAsync("~/Views/Notification/Index.cshtml")
    </div>
    
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCartProductListComponentPartial")
        @await Component.InvokeAsync("_ShoppingCartDiscountCouponComponentPartial")
    </div>

</div>

