@model CreateContactDto
<div class="col-lg-7 mb-5">
    <div class="contact-form bg-light p-30">
        @await Html.PartialAsync("~/Views/Notification/Index.cshtml")
        <form method="post" asp-action="SendContact" asp-controller="Contact">
            <div class="control-group">
                <input type="text" class="form-control" asp-for="NameSurname" id="name" placeholder="Ad Soyad"
                       required="required" data-validation-required-message="Lütfen Adınızı ve soyadınızı yazınız" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Email"
                       required="required" data-validation-required-message="Lütfen email adresinizi  yazınız" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <input type="text" class="form-control" id="subject" asp-for="Subject" placeholder="Konu Başlığı"
                       required="required" data-validation-required-message="Lüten konu başlığını yazınız" />
                <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
                <textarea class="form-control" rows="8" id="message" asp-for="Message" placeholder="Mesajınız"
                          required="required"
                          data-validation-required-message="Lütfen mesajınızı yazınız"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div>
                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                   Gönder
                </button>
            </div>
        </form>
    </div>
</div>