<style>
    .test{
        aspect-ratio:3/4;
        object-fit:contain;
        width:5%;
        mix-blend-mod:color-burn;
    }
</style>


@model List<ResultBrandDto>
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <div class="bg-light p-4">
                        <img class="test" src="@item.ImageUrl" alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</div>