@model CreateProductAttributeTypeDto
@{
    ViewData["Title"] = "CreateProductAttribute";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Özellik Ekleme Sayfası </h4>
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputForTypeName">Açıklama</label>
                        <input type="text" asp-for="TypeName" class="form-control" id="exampleInputForTypeName" placeholder="Lütfen açıklama yazınız">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>



