
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<link href="~/css/preloader.css" rel="stylesheet" />
<script src="~/js/preloader.js"></script>
@await Component.InvokeAsync("UILayoutHeadComponentPartial")

<body>
    <div id="preloader">
        <div class="spinner"></div>
        <p class="preloader-text">İşleminiz gerçekleştiriliyor, lütfen bekleyiniz.</p>
    </div>
    @await Component.InvokeAsync("UILayoutNavbarComponentPartial")
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <span class="breadcrumb-item text-dark" >@ViewBag.v1</span>
                    <span class="breadcrumb-item text-dark" >@ViewBag.v2</span>
                    <span class="breadcrumb-item active">@ViewBag.v3</span>
                </nav>
            </div>
        </div>
    </div>
    @RenderBody()
    @await Component.InvokeAsync("UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("UILayoutScriptsComponentPartial")
</body>
</html>