<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kullanıcı Paneli</title>
    <link rel="stylesheet" href="~/connect-plus-1.0.0/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/connect-plus-1.0.0/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/connect-plus-1.0.0/assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/connect-plus-1.0.0/assets/css/style.css">
    <link rel="shortcut icon" href="~/connect-plus-1.0.0/assets/images/favicon.png" />
</head>