
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Kocaeli İçin Hava Durumu : @ViewBag.CityTemp
</body>
</html>
