@model CreateFeatureSliderDto
@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Öne Çıkan Görsel Ekleme Sayfası </h4>

                <div class="form-group">
                    <p>* Bilgileri eksiksiz doldurunuz.</p>
                    <p>* Eğer eklenen kaydın direkt olarak <span style="color:red; font-weight:bold">yayınlamasını</span> istiyorsanız "Aktif Olarak Kaydet" seçeneğini seçmelisiniz.</p>
                    <p>* Eğer eklenen kaydın direkt olarak <span style="color:red; font-weight:bold">yayınlanmamasını</span> istiyorsanız "Pasif Olarak Kaydet" seçeneğini seçmelisiniz.</p>

                    <br />
                    <p>** Not: <span style="color:red; font-weight:bold">"Pasif Olarak Kaydet"</span> seçeneği seçildiğinde veriler kaydolur fakat sadece admin panelinden görüntüleyebilirsiniz ana sayafa da yer almaz ana sayfada yer almasi için kaydın aktif olarak işaretlenmesi gereklidir. </p>
                  
                </div>

                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputForImageLink">Görsel Linki</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" id="exampleInputForImageLink" placeholder="Lütfen görsel linkini yazınız">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputForTitle">Başlık</label>
                        <input type="text" asp-for="Title" class="form-control" id="exampleInputForTitle" placeholder="Lütfen başlık yazınız">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputForDescription">Açıklama</label>
                        <textarea type="text" rows="10" asp-for="Description" class="form-control" id="exampleInputForDescription" placeholder="Lütfen açıklama yazınız"> </textarea>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" value="true" checked id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                           Aktif Olarak Kaydet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Status" value="false" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                           Pasif Olarak Kaydet
                        </label>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>

